body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.formList{
  display: block;
  overflow: hidden;
}

li{
  list-style-type: none;
  text-decoration: none;
  padding: 3px
}

.navStyle a:hover {
  display: block;
  text-decoration: none;
  background-color: rgb(36, 36, 36);
}

.navStyle {
  margin: 0 auto;
  opacity: 0.9;
  background-color: rgb(12, 12, 12);
}

.navLink{
  color: rgb(214, 214, 214);
  text-decoration: none;
  font-size: 18px;
}

label{
  display: flex;
justify-content: left;
}

input{
  width: 14rem
}

#sub{
  margin-top: 2rem;
  width: 8rem;
  opacity: 0.9;
  border-color: aliceBlue(50, 50, 50);
  background-color: rgb(51, 50, 130);
  color: white;
  border-radius: 2px;
}

.creditCard {
  
  position: absolute;
  top: 35%;
  left: 22%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  min-width: 350px;;
  max-height: 320px;
  padding: 10px;
  text-align: center;
  font-family: arial;
 
}

#creditCard {
  position: absolute;
  top: 58%;
  left: 29%;
  font-size: 18px;
  color: goldenrod;
}

#account {
  position: absolute;
  left: 55%;
  top: 35%;
  width: 300px;
  height: 255px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

#account1 {
  position: absolute;
  left: 57%;
  top: 52%;
}

.Custom-Part2 {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background-color:green;
  background-size: cover;
  
  

}